# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Arduino Build Files
# =========================
*.ino.hex
*.elf
*.bin

# =========================
# Wokwi
# =========================
*.wokwi-user.json

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Arquivos temporários
# =========================
*.tmp
*.swp